{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="content">
        <div class="innercontent">
            <div class="row">
                {#                <div class="intro">#}
                {#                    <h1>Introduction:</h1><br>#}
                {##}
                {#                    <br>#}
                {#                    <br>#}
                {#                </div>#}
                <div class="column left">
                    <img src="{% static 'img/html_css.png' %}">


                </div>

                <div class="column right">
                    <div class="references">
                        <h1><strong>References</strong></h1>
                        <br>
                        <ul>

                            <li>
                                <a href="https://developer.mozilla.org/en-US/docs/Learn">Learn web development guide by
                                    Mozilla</a>
                            </li>


                            <li>
                                <a href="https://www.w3.org/2009/cheatsheet/">HTML/CSS cheatsheet </a>
                            </li>

                            <br>
                            <h3>After HTML</h3><br>

                            <li>
                                <a href="https://www.tutorialspoint.com/http/http_methods.htm">HTML methods</a>

                            </li>
                            </a>

                            <li>
                                <a href="https://www.w3schools.com/css/">Basic CSS Tutorial</a>
                            </li>


                            <br>
                            <h3>For further learning</h3>
                            <br>
                            <li>
                                <a href="https://medium.com/@js_tut/the-complete-css-flex-box-tutorial-d17971950bdc">Flexbox layout tutorial</a>
                            </li>
                            <li>
                                <a href="https://medium.com/@js_tut/css-grid-tutorial-filling-in-the-gaps-c596c9534611">Grid layout tutorial</a>
                            </li>
                            <li>
                                <a href="https://hackernoon.com/the-ultimate-css-battle-grid-vs-flexbox-d40da0449faf">Difference
                                    between Grid and Flexbox</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}